In [1]:
import numpy as np
import pandas as pd

In [2]:
tennis=pd.read_csv("C:/Users/Arupriya/Downloads/tennis.csv")
tennis

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [3]:
ct=pd.crosstab(tennis['outlook'], tennis['play'], margins=True)
print(ct)

play      no  yes  All
outlook
overcast   0    4    4
rainy      2    3    5
sunny      3    2    5
All        5    9   14

In [4]:
ct=pd.crosstab(tennis['temp'], tennis['play'], margins=True)
ct

play  no  yes  All
temp
cool   1    3    4
hot    2    2    4
mild   2    4    6
All    5    9   14

In [5]:
tennis[tennis['play']=='yes'].shape[0]

9